@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --background-pertama: #0e0e0e   ;
    --background-kedua: #131313;
    --background-ketiga: #1e1e1ea8;
    --background-keempat: #2b2b2b;
    --background-keempat-70: #2b2b2ba8;
    --main-title: #B8B8B8;
    --scd-title: #6b6b6b;
    --text: rgb(199, 199, 199);
    --red: #CF0A0A;
    --orange: #DC5F00;
}

*{
    margin: 0;  
    padding: 0;
}

body{
    background-color: var(--background-pertama);
    color: var(--text);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}

section{
    scroll-snap-align: start;
    height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

    /* section {
        position: relative;
    }

    section::before{
        content: url("/asset/SVG/Vector\ 1.svg");
        position: absolute;
        left: -760px;
        top: -20px;
        z-index: -1;
    }

    section::after{
        content: url("/asset/SVG/Vector\ 2.svg");
        position: absolute;
        right: -760px;
        bottom: 0px;
        z-index: -1;

    } */



/* navbar */

.navbar{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 3;
    transition: .3s ease-out;
}

.navbar.navbar-colored{
    /* From https://css.glass */
    background: var(--background-ketiga);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navbar .container-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 100px;
}

.navbar .container-nav .navbar-menu{
    margin-left: auto;
}

.navbar .container-nav .navbar-menu ul{
    position: relative;
    display: flex;
    transition: .3s linear;
}

.navbar .container-nav .navbar-menu ul li{
    position: relative;
    list-style: none;
    margin: 0 10px;
    margin-top: 13px;
    flex: 1 1 auto;
}

.navbar .container-nav .navbar-menu ul li a.active{
    background: -webkit-linear-gradient(45deg,var(--orange), var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.navbar .container-nav .navbar-menu ul li a{
    text-decoration: none;
    color: var(--scd-title);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.navbar .container-nav .navbar-menu ul li:hover a {
  color: var(--main-title);
}

.navbar .container-nav .navbar-menu ul:hover li> :not(:hover){
   opacity: .5;
}
.navbar .container-nav .navbar-menu ul:hover li> a.active{
    opacity: 1; 
}


.navbar .container-nav .navbar-menu ul li:hover a:after, 
.navbar .container-nav .navbar-menu ul li a.active::after{
  width: 100%;
  right: 0%;
  left: 0%;
}

.navbar .container-nav .navbar-menu ul li a:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  right: 0%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--scd-title);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.navbar .container-nav .navbar-btn{
    font-size: 20px;
    cursor: pointer;
    color: var(--main-title);
    height: max-content;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 10px;
    transition: .3s linear;
    display: none;
}

.navbar .container-nav .navbar-brand{
    font-family: 'Prosto One', cursive;
    font-size: 20px;
    margin-top: 10px;
}

.navbar .container-nav .navbar-brand a{
    text-decoration: none;
    color: var(--main-title);
}

.navbar .container-nav .navbar-brand a>span{
    font-size: 24px;
    background: -webkit-linear-gradient(45deg,var(--orange), var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}


@media only screen and (max-width: 992px) {
    .navbar .container-nav{
        transition: .4s;
    }

    .navbar .container-nav .navbar-btn{
        text-align: center;
        width: 20px;
        display: block;
        margin-left: auto;
        background-color: var(--background-kedua);
    }
    .navbar .container-nav .navbar-btn:hover{
        color: var(--scd-title);
    }
    
    
    .navbar .container-nav .navbar-menu ul{
        position: absolute;
        right: 110px;
        top: 60px;
        border-radius: 0 0 5px 5px;
        flex-direction: column;
        align-items: center;
        width:40px;
        height: 0px;
        background: var(--background-ketiga);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        overflow: hidden;
        transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .navbar .container-nav .navbar-menu.active ul{
        width: 150px;
        height: 250px;
    }

    .navbar .container-nav .navbar-menu ul li{
        text-align: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px; 
    }

} 


@media only screen and (max-width: 576px){
    .navbar .container-nav{
        padding: 0 20px;
        transition: .4s;
    }

    .navbar .container-nav .navbar-menu ul,
    .navbar .container-nav .navbar-menu.active ul{
        right: 30px;
    }
}

/* home */

.main-home{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-y: hidden;
}

.main-home svg{
    width: 100%;
}

.main-home .home-left{
    width: 100%;
    max-width: 800px;
    display: inline-block;
    margin: 0 auto 0 100px;
    padding-bottom: 200px;
}

.main-home .home-left .home-title{
    position: relative;
    padding-top: 157px;
    padding-bottom: 20px;
}
.main-home .home-left .home-title .main-title{
    width: fit-content;
}

.main-home .home-left .home-title .main-title h1{
    font-family: 'Prosto One', cursive;
    margin: 10px 0;
    position: relative;
    font-size: 44.5px;
    color: var(--main-title);
}

.main-home .home-left .home-title h3{
    font-size: 27.5px;
    color: var(--scd-title)
}

.main-home .home-left .home-title .main-title h1 #title{
    background: -webkit-linear-gradient(45deg,var(--orange), var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    border-right: 3px solid var(--scd-title);
    animation: animate 1s infinite;
}

.main-home .home-left .home-title p{
    padding-top: 5px;
    font-size: 17px;
    color: var(--text);
    width: 100%;
}
.main-home .home-left .home-title span
{
    background: -webkit-linear-gradient(45deg,var(--orange), var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes animate { 
    50%{
        border-right:none;
    }
}

.main-home .home-left .home-action{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 2;
    padding-top: 20px;
}

.action1{
    padding-top: 10px;
    height: 30px;
    width: 145px;
    cursor: pointer;
}

.action2 .home-link,
.action1 .home-link{
    position: relative;
    padding-top: 8px;
    padding-bottom: 5px;
    text-decoration: none;
    color: var(--main-title);
    font-size: 17px;
    transition: .3s linear;
}

.action1 .home-link span{
    padding-left: 7px;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.action1 .home-link i{
    padding-left: 8px;
}

.action1:hover .home-link span{
    padding-left: 0px;   
}

.action1:hover .home-link{
    transition: .4s linear;
    color: var(--main-title);
}

.action1 .home-link::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border:1px solid var(--scd-title);
    width: 35px;
    height: 35px;
    border-radius: 20px;
    z-index: -1;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}
.action1:hover .home-link::before{
    border: none;
    width: 135px;  
    background: linear-gradient(45deg,var(--orange), var(--red));
    background: -webkit-linear-gradient(45deg,var(--orange), var(--red));
}



.action2 {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
    transition: .4s linear; 
    background: var(--background-keempat);   
}

.action2:hover{
    transition: .4s linear;
    background: var(--background-keempat-70);    
    
}

.action2:hover .home-link{
    color: var(--text)
}

.action2 .home-link > i.fa-arrow-down{
    position: absolute;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);

}

.action2:hover .home-link > i.fa-arrow-down{
    transform: translateY(0);
    opacity: 1;
}

.action2 .home-link > i.fa-file-alt{
    position: relative;
    transform: translateY(0px);
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.action2:hover .home-link > i.fa-file-alt{
    transform: translateY(30px);
    opacity: 0;
}

.main-home .home-right{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.main-home .home-right img{
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 992px){
    .main-home{
        flex-wrap: wrap-reverse;
        height: auto;
    }

    .main-home .home-right{
        display: flex;
        justify-content: center;
        margin: 0 20px;
    }

    .main-home .home-right img{
        width: 100%;
        max-width: 500px;
        height: 100%;
        max-height: 500px;
        padding-top: 50px;
    }

    .main-home .home-left .home-title{
        padding-top: 50px;
    }
}


@media only screen and (max-width: 576px){
    
    .main-home .home-left{
        margin: 0 20px;
    }

    .main-home .home-left .home-title .main-title h1{
        font-size: 38px;
    }
    
    .main-home .home-left .home-title h3{
        font-size: 23.5px;
    }

    .main-home .home-left .home-title p{
        font-size: 14px;
    }
    

}


/* Title */

.main-title{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title h1{
    font-size: 44.5px;
    color: var(--main-title);
    margin: 10px 0;
    letter-spacing: 3px;
}

.main-title h3{
    font-size: 17px;
    color: var(--scd-title);
}

.main-title img{
    margin-bottom: 50px;
}

/* About Me */

.main-about{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--background-kedua);
}

.main-about .content {
    display: flex;
    margin: 0 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-about .content .profile-img{
    position: relative;
    margin-bottom: 50px;
}

.main-about .content .profile{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 100px;
    width: 50%;
}


.main-about .content .profile .profile-title{
    position: relative;
    margin-bottom: 20px;
    font-size: 20.5px;
    text-align: center;
}

.main-about .content .profile .profile-title h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    margin-top: 10px;
    background-color: var(--scd-title);
    display: block;
}

.main-about .content .profile .profile-decs{
    font-size: 17px;
    margin: 30px 0;
}

.main-about .content .profile .profile-info{
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-around;
}

.main-about .content .profile .profile-info .info-detail{
    text-align: center;
    width: 100%;
    max-width: 100px;
    flex: 1 1 100px;
}

.main-about .content .profile .profile-info .info-detail span{
    font-size: 27.5px;
}

.main-about .content .profile .profile-info .info-detail p{
    font-size: 14px;
    color: var(--scd-title);
}

.main-about .content .profile .action2
{
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    margin-top: 20px;
}
@media only screen and (max-width: 576px){
    .main-about .content-2,   
    .main-about .content{   
        margin: 0 20px;
    }

}

@media only screen and (max-width: 992px){

    .main-about .content .profile-img img{
        position: relative;
        width: 100%;
        max-width: 300px;

    }
    .main-about .content .profile{
        text-align: center;
        width: 100%;
        align-items: center;
    }

    .main-about .content .profile .action2
    {
        width: 50%;
        
    }

 
}


/* skill */
.content-2{
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.skill{
    margin-top: 50px;
    margin-bottom: 100px;
}

.skill-content{
    width: 100%;
    max-width: 400px;
    margin: 0 30px;
}

.skill-content hr{
    margin-left: 50px;
}

.skill-content .skill-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.skill-content .skill-header i{
    font-size: 24.5px;
}

.skill-content .skill-header i.icon-head{
    margin-right: 20px;
}

.skill-content .skill-header i.fa-chevron-down{
    margin-left: auto;
}

.skill-content .skill-header .skill-title h2{
    padding-bottom: 5px;    
}

.skill-content .skill-header .skill-title span{
    font-size: 17px;
    color: var(--scd-title);
}

.skill-list{
    row-gap: 1.5rem;
    padding-left: 50px;
}

.skill-list .skill-data{
    margin: 20px 0;
}

.skill-list .skill-data .skills-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skill-list .skill-data .skills-title h3{
    font-size: 14px;
    font-weight: 100;
}

.skill-bar,.persentase-bar{
    height: 5px;
    border-radius: .25rem;
}

.skill-bar {
    background-color: var(--scd-title);
}

.persentase-bar{
    display: block;
    background: linear-gradient(45deg,var(--orange), var(--red));
    background: -webkit-linear-gradient(45deg,var(--orange), var(--red));
}


@media only screen and (max-width: 992px){
    .content-2{
        flex-direction: column;
    }

    .skill-content{
        margin: 20px 0;
    }
}
